* {
  box-sizing: border-box;
}

.container {
  font-family: sans-serif;
  background-image: url(./dino-reichmuth-A5rCN8626Ck-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 54rem;
}

.travel {
  height: 35px;
  display: flex;
  flex-direction: column;
  padding: 20rem 50rem;
}

h1 {
  width: 25rem;
  color: white;
  opacity: 0.8;
  font-size: 3rem;
   text-align: center;
}

.middle {
  width: 40rem;
  display: flex;
   font-size: 20px;
  height: 2.8rem;
 }

.first,
.second {
  margin-right: 20px;
  width: 20rem;
  display: flex;
}

label {
  background-color: red;
  font-size: 25px;
  padding: 10px;
  color: white;
}

input {
    height:2.8rem;
    width: 30rem;
    border: transparent;

}

.bottom{
    width: 41rem;
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
 }

.btn-1{
 margin-right: 10px;
 width: 6rem;
 height: 2rem;
opacity: 0.8;
color: red;
border: 1px solid red;

}

.btn-2{
    margin-right: 10px;
 width: 6rem;
 height: 2rem;
 color: white;
background-color: red;
border: 1px solid red;
}

/* .container{
    width: 100%;
    min-height: 100vh;
    background-color: rosybrown;
}

.container-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;

}

.container:nth-of-type(odd){
    background-color: mistyrose;
}

.hero{
    position: relative;
    background-image: url(./dino-reichmuth-A5rCN8626Ck-unsplash.jpg);
    background-size: cover;
    background-position: center bottom;
}

.hero::after{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.1);
    width: 100%;
    height: 100%;
    content: "";
}

.hero-headline{
    color: rgba(255,255,255,0.8);
    text-shadow: 0 0 60px rgba(255,255,255,0.8);
    font-size: 48px;
    font-weight: bold;
}

.input-container{
    display: inline-block;
   background-color: red;
   margin-left: 20px;
   border: 2px solid black;
    
 }

.input-container:not(:last-child) .input-field{
    margin-right: 16px;
}

.input-label{
    background-color: var(--brand-color);
    padding-left: 10px;
     line-height: 1;
    color: white;
         
    
}

.input-field{
    border: 1px solid white;
    padding: 8px 10px;
  }

.btn{
    border: 1px solid var(--brand-color);
    background-color: var(--brand-color);
    margin-right: 16px;
    padding: 8px 16px;
    color: white;
    transform: 0.3s;
    background-color: red;
    font-weight: bold;
}

.btn:last-child{
    margin-right: 0;

}

.btn:hover{
    transform: translateY(-1px);
    background-color: var(--brand-darker-color);
    border-color: var(--brand-darker-color);
    cursor: pointer;
}

.btn-secondary{
    background-color: rgba(255,255,255,0.6);
    color: var(--brand-color);
    color: red;
    border: 1px solid red;
}

.btn-secondary:hover{
    background-color: rgba(255,255,255,0.8);
}

.wrapper-right-alined{
    display: flex;
    margin-top: 2rem;
    justify-content: right;
   
} */
